@model List<Game>

<div class="row mb-3">
    <div class="col">
        <a asp-controller="Login" asp-action="Logged" class="btn btn-primary">Home</a>
        <a>My Catalog</a>
    </div>
    <div class="col text-right">
        <a asp-controller="Home" asp-action="Index" class="btn btn-success">Logged Out</a>
    </div>
</div>

<h2>Game List</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Developer</th>
            <th>Price</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>Image URL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.Id</td>
                <td>@game.Name</td>
                <td>@game.Developer</td>
                <td>@game.Price</td>
                <td>@game.Genre</td>
                <td>@game.RealeseDate.ToShortDateString()</td>
                <td>@game.ImageUrl</td>
            </tr>
        }
    </tbody>
</table>